<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Prenotazioni disponibili per lo studente</title>
</head>
<body>
                    <a href="{{ url_for('student.studentPage') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Torna Indietro
            </a>
    <div class="container mt-5">
        <h1>Prenotazioni disponibili per lo studente</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Luogo</th>
                    <th scope="col">Prova</th>
                    <th scope="col">Corso Relativo</th>
                    <th scope="col">Prenota</th>
                </tr>
            </thead>
            <tbody>
                {% for appello in appelli_disponibili %}
                    <tr>
                        <td>{{ appello.data }}</td>
                        <td>{{ appello.luogo }}</td>
                        <td>{{ appello.prove }}</td>
                        <td>{{ appello.prove.esami }}</td>
                        <form method="POST" action="{{url_for('student.prenotaAppello')}}">
                        <input type="hidden" name="appello" value="{{ appello.codAppello }}">
                        <td>
                        <button type="submit" class="btn btn-primary">Prenota</button>
                        </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
