<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Prenotazioni effettuate dallo studente</title>
</head>
<body>
    <a href="{{ url_for('student.studentPage') }}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Torna Indietro
    </a>
    <div class="container mt-5">
        <h1>Prenotazioni effettuate dallo studente</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Luogo</th>
                    <th scope="col">Prova</th>
                    <th scope="col">Corso Relativo</th>
                    <th scope="col">Stato attività</th>
                    <th scope="col">Elimina</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6"><strong>Appelli non più validi</strong></td>
                </tr>
                {% for appello in studente.getAppelliNonValidi() %}
                    <tr>
                        <td>{{ appello.data }}</td>
                        <td>{{ appello.luogo }}</td>
                        <td>{{ appello.prove }}</td>
                        <td>{{ appello.prove.esami }}</td>
                            {% if appello.data < datetime.utcnow() %}
                                <td><button class="btn btn-success" onclick="mostraData('{{ appello.data }}')">Svolto</button></td>
                            {% else %}
                                <td><button class="btn btn-danger" >Non Svolto</button></td>
                            {% endif %}
                        <td>
                            <a href="{{url_for('student.eliminaPrenotazioneAppello', codAppello=appello.codAppello)}}">
                                <button type="submit" class="btn btn-danger" disabled>Elimina</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tbody>
                <tr>
                    <td colspan="6"><strong>Appelli a cui sei iscritto</strong></td>
                </tr>
                {% for appello in studente.appelli %}
                    {% if appello not in studente.getAppelliNonValidi() %}
                        <tr>
                            <td>{{ appello.data }}</td>
                            <td>{{ appello.luogo }}</td>
                            <td>{{ appello.prove }}</td>
                            <td>{{ appello.prove.esami }}</td>
                            {% if appello.data < datetime.utcnow() %}
                                <td><button class="btn btn-success" onclick="mostraData('{{ appello.data }}')">Svolto</button></td>
                            {% else %}
                                <td><button class="btn btn-danger" >Non Svolto</button></td>
                            {% endif %}
                            <td>
                                <a href="{{url_for('student.eliminaPrenotazioneAppello', codAppello=appello.codAppello)}}">
                                    <button type="submit" class="btn btn-danger" disabled>Elimina</button>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function mostraData(data) {
            alert("Hai svolto l'appello in data: " + data);
        }
    </script>
</body>
</html>
