<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esami e Prove</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Appelli</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Appello</th>
                <th>Esame</th>
                <th>Prova</th>
                <th>Visualizza studenti iscritti</th>
                <th>Elimina Appello</th>
            </tr>
        </thead>
        <tbody>
            {% for appello in appelli %}
                <tr>
                    <td>{{ appello.codAppello }}</td>
                    <td>
                      {{appello.prove.esame}}
                    </td>
                    <td>{{ appello.prove.cod }}</td>
                    <td>
                            <form method="POST" action="{{url_for('teacher.visualizzaStudentiIscritti')}}">
                                <input type="hidden" name="codAppello" value="{{ appello.codAppello }}">
                                <button type="submit" class="btn btn-primary">Visualizza studenti iscritti</button>
                            </form>
                    <td>
                        <form method="POST" action="{{url_for('teacher.eliminaAppello')}}">
                            <input type="hidden" name="codAppello" value="{{ appello.codAppello }}">
                            <button type="submit" class="btn btn-danger">Elimina</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Altre informazioni dell'utente, se necessario -->
    <p class="mt-3">Benvenuto, {{ user.name }}!</p>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
